<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>About Us</title>
</head>
<body>
    <header>
        <nav>
            <ul class="left">
                <li><a href="/">Home</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
            <ul class="right">
                <li><a href="login.html" class="login">Login</a></li>
                <li><a href="register.html" class="register">Register</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>
            About Us
        </h2>
        <p>
            Hello! My name is Xasan, and I am a beginner web developer. I use Django and Flask for building websites and SQLite for the database. I created this website to showcase my skills. If you have any questions or feedback, please feel free to contact me.
        </p>
    </section>

    <footer>
        <p>&copy; 2025 XasanGames Website</p>
        <div class="footer-links">
            <a href="tos/">Terms of Service</a>
            <a href="privacy/">Privacy Policy</a>
            <a href="contact/">Contact</a>
        </div>
    </footer>
</body>
</html>